# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/DerivedData/
**/ios/**/xcuserdata/
**/ios/.generated/

# Binaries & packages
*.apk
*.aab
*.exe
